{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Projects App - {{title}}</title>
  {% else %}
    <title> Projects App </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
   
  {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    {% block content %} 
   
    {%endblock%}
<div style=" background-color:rgb(16, 16, 161); color: white;">
    <!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="/"> AWARD.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</div>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>